/* Efeito de Vidro e Cores Neon */
body { 
    background: #0f1115; 
    color: white; 
    font-family: 'Inter', sans-serif;
}

.glass { 
    background: rgba(255, 255, 255, 0.03); 
    backdrop-filter: blur(12px); 
    border: 1px solid rgba(255, 255, 255, 0.05); 
}

.neon-purple { 
    box-shadow: 0 0 20px rgba(139, 92, 246, 0.3); 
}

.grad-purple { 
    background: linear-gradient(135deg, #6366f1 0%, #a855f7 100%); 
}

.no-scrollbar::-webkit-scrollbar { 
    display: none; 
}
